
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cronton Bakery</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://kit.fontawesome.com/8f51976204.js" crossorigin="anonymous"></script>
    
    </head>
    
    <body>
      
    <div>
    <ul>
      <li><a href="/"> <i class="fa-solid fa-house"></i></a></li>
      <li class="lir"><a href="/LogOut"  style= "float: left;"> <i class="fa-solid fa-right-from-bracket"></i></a></li>
      <li><a href="/Order">Order </a></li>
      <li><a href="/Checkout">Checkout </a></li>
      <li><a href="/OrderHistory"> Order History </a></li>
      <li><a href="/ViewReviews"> Reviews </a></li>
      <li><a href="/FAQ"> FAQ's</a></li>
      <li><a href="/OpenHoursInfo"> Open Hours and info</a></li>
      <br>
      <br>
    </ul>
  </div>